
<configuration>

        <!-- We define all our logging task into the appender like CONSOLE, FILE etc.
         Here we are logging the ConsoleAppender, as the name indicates, appends on the console. -->
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
                <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                        <!-- pattern define in which format you want format your message should
                                be logged -->
                        <Pattern>[%-5level] %d{HH:mm:ss.SSS} [%logger{120}] [%thread]:%n    %msg%n
                        </Pattern>
                </encoder>
        </appender>
        
        
        <logger name="org.springframework" level="WARN">      
        </logger>
        <logger name="org.springframework.ws.transport.http.MessageDispatcherServlet" level="DEBUG">      
        </logger>
        <logger name="org.hibernate" level="INFO">
        </logger>
        <logger name="org.eclipse.jetty" level="INFO">
        </logger>
        

        <!-- root level logger support following level attributes: TRACE, DEBUG,
                INFO, WARN, ERROR, ALL or OFF. Using root logger, you can handle level of
                APPENDER by just adding appender-ref into root as below: In root, There can
                be zero appender-ref. -->
        <root level="DEBUG">
                <appender-ref ref="STDOUT" />
        </root>
</configuration>