<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:web-services="http://www.springframework.org/schema/web-services"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:int="http://www.springframework.org/schema/integration"
	xsi:schemaLocation="http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/web-services http://www.springframework.org/schema/web-services/web-services.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<import resource="classpath:/META-INF/spring/super-context.xml"/>

	<web-services:annotation-driven/>	
	<context:component-scan base-package="hu.bme.mit.v37zen.prepayment.webapi.endpoints">
	</context:component-scan>

	<web-services:dynamic-wsdl id="hello" targetNamespace="http://www.v37zen.prepayment.web.com/hello"
		portTypeName="Hello" locationUri="/hello/" requestSuffix="Request" responseSuffix="Response">
		<web-services:xsd location="classpath:WEB-INF/xsd/hello.xsd"/>
	</web-services:dynamic-wsdl>
	
	
	
</beans>